 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            line-height: 1.6;
        }

        .container {
            max-width: 1400px;
            margin: 0 auto;
        }

        header {
            background-color: black;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 0.75rem 1rem;
            gap: 1rem;
        }

        header .left-section {
            display: flex;
            gap: 1rem;
            margin-left: 5px;
        }

        header .left-section .logo {
            color: rgb(236, 175, 60);
            font-size: 1.5rem;
            font-weight: bold;
            display: none;
        }

        header .left-section .mobile-logo {
            color: rgb(236, 175, 60);
            font-size: 1.5rem;
            font-weight: bold;
        }

        .middle-section {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            flex: 1;
        }

        .middle-section form {
            display: flex;
            width: 70%;
        }

        .middle-section input {
            padding: 12px;
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
            border: none;
            flex: 1;
        }

        .middle-section input:focus {
            outline: none;
            box-shadow: 0 0 0 2px rgb(236, 175, 60);
        }

        .middle-section input::placeholder {
            font-size: 14px;
        }

        .middle-section button {
            background-color: rgb(236, 175, 60);
            border: none;
            padding: 12px;
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
            cursor: pointer;
        }

        .right-section {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .right-section .cart-button {
            position: relative;
            cursor: pointer;
        }

        .right-section .whilist {
            cursor: pointer;
        }

        .right-section .cart-button .cart-quantity {
            position: absolute;
            top: -5px;
            color: rgb(236, 175, 60);
            font-weight: bold;
            right: 10px;
            font-size: 14px;
        }

        @media (min-width: 768px) {
             header .left-section .logo {
                color: rgb(236, 175, 60);
                font-size: 25px;
                font-weight: bold;
                display: block;
            }

             header .left-section .mobile-logo {
                color: rgb(236, 175, 60);
                font-size: 25px;
                font-weight: bold;
                display: none;
            }
        }